* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: center;
}

.content {
    min-width: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
}


a {
    text-decoration: none;
    color: rgb(3, 112, 180);
    font-weight: bold;
}

a:hover {
    color:black;
}



.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-nav > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.top-nav > nav {
    flex-grow: 1;
}

.top-nav > nav > ul > li:hover > .sub-nav {
    display: block;
}

.top-nav > nav > ul > li {
    position: relative;
}


.sub-nav {
    position: absolute;
    left: -4px;
    
    list-style: none;
    display: none;

    min-width: 150px;
    background-color: #DDD;
}

.sub-nav > li {
    padding: 4px;
}

.sub-nav > li > a {
    font-weight: normal;
}


.side-nav > ul {
    padding: 4px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.side-nav > ul > li {
    padding: 4px;
}

.side-nav > ul > li > a {
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
}

.side-nav > ul > li > a.side-nav-selected {
    font-weight: bold;
}

.side-nav {
    margin-top: 16px;
    width: 250px;
}

main {
    flex-direction: row;
    display:flex;
}


/* new styles */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8px;
}

.product {
    padding-right: 20px;
    padding-bottom: 20px;
}

.product > .price {
    font-weight: bold;
    color: rgb(3, 112, 180);
}

.product figcaption {
    display: none;
}

.product > .props {
    font-size: 12px;
}


h1, h2, h3, h4, h5, h6 {
    color: rgb(3, 112, 180);
    font-weight: normal;
    text-decoration: none;
}

h1 {
    /** add some margin to enhance visual design **/
    margin-top: 24px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 2px darkgray;
}

h2 {
    /** add some margin to enhance visual design **/
    margin-top: 20px;
    margin-bottom: 12px;
    color:black;
    font-weight: bold;
    font-size: 18px;
}

h3 {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
}
