* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style-position: inside;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    width: 100vw;
    height: 100vh;

    /** new styles, exercise 1 **/
    display: grid;
    grid-template-columns: 1fr minmax(400px, 80%) 1fr;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(3, 112, 180);
    font-weight: normal;
    text-decoration: none;
}

h1 {
    margin-top: 24px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 2px darkgray;
}

h2 {
    margin-top: 20px;
    margin-bottom: 12px;
    color:black;
    font-weight: bold;
    font-size: 18px;
}

h3 {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
}

h3.invoice-address {
    font-weight: normal;
}

a {
    color: #6C8FBC;
    font-size: 16px;
    font-weight: bold;
}

a.current-calculation {
    color: rgb(3, 112, 180);
}

.content {
    grid-column: 2 / 3;
}


.home > img, img.calculation-overview {
    border: 1px solid darkgray;
}

p.invoice-address-line {
    color: #777;
}


.invoice-overview {
    list-style: none;
    border: 1px solid white;

    display: flex;
    flex-direction: row;
}

.invoice-overview > li {
    background-color: rgb(3, 112, 180);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    
}
.invoice-overview > li a {
    color: white;
    text-decoration: none;
}
.invoice-overview > li:hover {
    box-shadow: 4px 4px 10px #777;
}


.invoice {
    background-color: #F0F0F0;
    box-shadow: 1px 1px 2px darkgray;
    border-radius: 4px;
    width: 380px;

    /** new styles, exercise 3 **/
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}


footer {
    margin-top: 32px;
    font-size: 14px;
}

footer.calculation {
    font-size: 10px;
}


/** adjusted styles, exercise 3 **/
.order-item-table {
    border-collapse: collapse;
    width: 100%;
}

/** new styles, exercise 3 **/
.order-item-table th, .order-item-table td {
    padding: 10px;
}

.order-item-table th {
    text-align: left;
}

.order-item-table .price {
    text-align: right;
}

.order-item-table .total {
    font-weight: bold;
}

.order-item-table tbody tr:nth-child(odd) {
    padding-left: 5px;
    background-color: #deedff;
}

.order-item-table tbody td:first-child {
    text-align: center;
}

.invoice-address-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .invoice-address-container {
        margin-top: 30px;
        margin-bottom: 50px;
        justify-content: flex-start;
    }
    
    body {
        justify-content: flex-start;
        margin-left: 40px;
        margin-right: 40px;
    }
}