* {
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

ol, ul {
    list-style-position: inside;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(3, 112, 180);
    font-weight: normal;
    text-decoration: none;
}

h1 {
    /** add some margin to enhance visual design **/
    margin-top: 24px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 2px darkgray;
}

h2 {
    /** add some margin to enhance visual design **/
    margin-top: 20px;
    margin-bottom: 12px;
    color:black;
    font-weight: bold;
    font-size: 18px;
}

h3 {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
}

h3.invoice-address {
    font-weight: normal;
}

a {
    color: #6C8FBC;
    font-size: 16px;
    font-weight: bold;
}

a.current-calculation {
    color: rgb(3, 112, 180);
}


.home > img, img.calculation-overview {
    border: 1px solid darkgray;
}

p.invoice-address-line {
    color: #777;
}


.invoice-overview {
    list-style: none;
    background-color: #F0F0F0;
    border: 1px solid white;
    width: 450px;
}

.invoice {
    background-color: #F0F0F0;
    box-shadow: 1px 1px 2px darkgray;
    border-radius: 4px;
    width: 380px;
}


footer {
    margin-top: 32px;
    font-size: 14px;
}

footer.calculation {
    font-size: 10px;
}



.order-item-table {
    border-collapse: separate;
    border-spacing: 8px;
}

.order-item-table th {
    text-align: left;
}

.order-item-table .price {
    text-align: right;
}

.order-item-table .total {
    font-weight: bold;
}

.order-item-table tbody tr:nth-child(odd) {
    background-color: #deedff;
}

.order-item-table tbody td:first-child {
    text-align: center;
}


.invoice-address-container {
    margin-left: auto;
    width: 200px;
}


/** new styles **/
.warranty-table {
    margin-top: 24px;
    width: 650px;
    background-color: #F0F0F0;
    box-shadow: 1px 1px 2px darkgray;
    border-radius: 4px;
    border-collapse: separate;
    border-spacing: 8px;
}

.warranty-table th {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    color: darkgray;
}

.warranty-table td {
    vertical-align: top;
    text-align: left;
}

.warranty-table .paid {
    color: green;
}

.warranty-table .warranty-cell {
    font-weight: bold;
    vertical-align: middle;
}


/** advanced, displays borders between topics */
.warranty-table tr.topic > * {
    padding-top: 10px;
    border-top: 1px solid darkgray;
}

.prop-table tr:nth-child(odd) > td:last-child {
    color: #888;
}